/.idea/.gitignore
/.idea/discord.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/publisher_content.iml
/.idea/vcs.xml
/.env
/.idea/social_media_bot.iml
/app/.idea/.gitignore
/app/.idea/app.iml
/app/.idea/misc.xml
/app/.idea/modules.xml
/app/.idea/inspectionProfiles/profiles_settings.xml
/app/.idea/vcs.xml
